
<nav class = "navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">

    <!-- /employees router link  -->
    <li class = "nav-item">
        <a routerlink = "employees" routerlinkActive = "active" class="nav-link" (click)="listAllEmployee()" > Employee List</a>
    </li>
    <!-- create-employee router link -->
        <li class = "nav-item" >
          <a routerlink = "create-employee" routerlinkActive = "active" class="nav-link" (click)="CreateEmployee()"> Add Employee </a>
      </li>

  </ul>
</nav>

 
<!-- <h1 class = "text-center"> {{title}} </h1> -->
<h1 class = "text-center"> Employee Management System </h1>

<div class="container">
  <!-- <app-employee-list></app-employee-list> -->
  <router-outlet></router-outlet>
</div>


<footer class="footer">
  <div class="container">
    <span>All rights reserved 2022 </span>
  </div>
</footer>